@import './variables.scss';


.form-holder{
    background-color: rgba(56, 56, 56, 0.644);
    width: 100%;
    
}

.page-body{
    .form-holder{
        .container-fluid{
            Form{
                .form-row {
                    Label{
                        color: $color-form-label;
                    }
                }
            }
        }
    }
};

.page-body{
    .form-holder{
        .container-fluid{
            Form{
                .row {
                    Label{
                        color: $color-form-label;
                    }
                }
            }
        }
    }
}