$color-form-label: rgba(255, 255, 255, 0.829);
$color-neutral:#dedede;

$font-normal:12px;
$stroke-width:3px;

.card-props{
    background-color: rgba(56, 56, 56, 0.644);
    width: 100%;
    color:white;
}