@import '../../components/styles/variables.scss';

.profileImage{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: 2.5rem;
  margin-left: .5rem;
}

.topTitle{
  margin-top: 25%;
}

.profileColumn, .topTitle{
  margin-bottom: 5rem;
  padding-top: 3rem;
 
} 

#columnDetail{
  height: 3rem;
}

#profileHeader{
  text-align: center;
  background-color: rgb(240, 238, 238);
  color: black;
} 

.notesWindow {
  height: 100%;
  overflow: auto;
}